DEBUG_LEVEL = 'debug'

# bla
Slack_Url = 'mqtt://127.0.0.1:1883'
Slack_In_Topic = '/slack_in'
Slack_Out_Topic = '/slack_out'

# MQ
MAX_CONNECTIONS = 128
BIND = '127.0.0.1:1883'
MQTT_URL = 'mqtt://' + BIND
TIMEOUT_DISCONNECT_DELAY = 2
HOST = '127.0.0.1'

# Gmail
Gmail_Address = '*'
Gmail_Password = 'whatthefuck'

# slack
Token = '*'

Session_Storage_File = '/tmp/hummable_session'